@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    padding: 8px;
}

.card-structure {
    background-color: #fff;
    width: 330px;
    height: 500px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.card-image img {
    width: 100%;
    border-radius: 10px;
}

.card-text {
    margin-top: 15px;
}

.card-text h1 {
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: hsl(218, 44%, 22%);
}

.card-text p {
    margin-top: 15px;
    font-weight: 400;
    text-align: center;
    font-size: 0.9rem;
    color: hsl(220, 15%, 55%);
}

.attribution {
    margin-top: 50px;
    font-size: 11px;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(212, 45%, 89%);
        padding: 8px;
    }
    .card-structure {
        background-color: #fff;
        width: 300px;
        height: 475px;
        border-radius: 15px;
        padding: 15px;
    }
    .card-image img {
        width: 100%;
        border-radius: 10px;
    }
    .card-text {
        margin-top: 15px;
    }
    .card-text h1 {
        font-size: 1.3rem;
        width: 100%;
        text-align: center;
        font-weight: 700;
    }
    .card-text p {
        margin-top: 15px;
        font-weight: 400;
        text-align: center;
        font-size: 0.9rem;
        color: hsl(220, 15%, 55%);
    }
}